html, body {
  height: 100%;
  margin: 0px;
}

@font-face {
    font-family: "roboto";
    src: url("Roboto-Regular.ttf" ) format("truetype");

}


@font-face {
    font-family: "roboto-black";
    src: url("Roboto-Black.ttf") format("truetype");

}

@font-face {
    font-family: "roboto-bold";
    src: url("Roboto-Bold.ttf") format("truetype");

}


.home-slide {
  height: 100%;
  background: linear-gradient( rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7) ),url("../images/buildings.jpg");
    background-repeat:no-repeat;
        background-size:cover;
}






h2 {

    font-family: roboto-bold;
        font-size: 37px;
        color: white;
        padding-top: 4em;
        padding-bottom: 20px;



}


.announcement {
    padding-top: 20em;
}

.nav-word {
padding-right: 20px;
margin-right: 120px;
font-family: roboto;
font-size: 16px;


}

.logo{
height: 50px;


}



.learn-more {
font-family: roboto;
font-size: 15px;
padding-right: 10px;
color: white;
}











